@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: #fff;
  font-family: "Inter", sans-serif;
}

/* Subtle zoom animation for hero */
@keyframes subtle-zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.animate-subtle-zoom {
  animation: subtle-zoom 20s infinite alternate ease-in-out;
}
